@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
}

.infinite-scroll-component  {
  overflow: hidden !important;
}

.article p {
  margin-bottom: 25px;
}

.ctct-form-button {
  background-color: #5C0E06 !important;
  border: 1px solid #5C0E06 !important;
}

.ctct-form-header, .ctct-form-text {
  text-align: center !important;
}