@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: bold;
  font-size: 24px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

.article p {
  margin-bottom: 25px;
}

.ctct-form-button {
  background-color: #5c0e06 !important;
  border: 1px solid #5c0e06 !important;
}

.ctct-form-header,
.ctct-form-text {
  text-align: center !important;
}

.bm-overlay,
.bm-menu-wrap {
  top: 0;
  background: white !important;
}

.bm-burger-button {
  display: none !important;
}

.infinite-scroll-component__outerdiv {
  min-height: 600px;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

div.article.text-grey a {
  color: #5c0e06;
  font-weight: 500;
  text-decoration: underline;
}

.article p a {
  display: inline-block;
}

.ctct-form-defaults {
  padding-top: 0 !important;
}

p {
  margin-bottom: 15px;
}

.advertise a {
  color: #5c0e06;
  font-weight: 500;
  text-decoration: underline;
}

.publishing a {
  color: #5c0e06;
  font-weight: 500;
  text-decoration: underline;
}
